<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>$title$</title>
    <meta name="description" content="Personal site of Kevin Mullins">
    <meta name="viewport" content="width=device-width">
    <meta name="keywords" content="functional,programming,haskell,idris,rust">
    $if(highlighting)$
    <link rel="stylesheet" href="/css/$highlighting$.css" />
    $endif$
  </head>
  <body>
    <header>
    </header>

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/posts">Posts</a></li>
        <li><a href="/projects">Projects</a></li>
      </ul>
    </nav>

    <main>
      $body$
    </main>

    <footer>
    </footer>
  </body>
</html>
